
<h1>Sign In</h1>
<form action="/sign-in" method="post">
  <div>
    <label for="username">
      <b>Username</b>
      <input type="text" name="username" id="username" />
    </label>
  </div>
  <div>
    <label for="password">
      <b>Password</b>
      <input type="password" name="password" id="password" />
    </label>
  </div>
  <button type="submit">Login</button>
</form>